@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

#slide[data-motion-pop-id] {
  position: fixed !important;
}
